@page "/application/applicant-details"
<h3>Applicant Details</h3>

<form class="container">
    <ApplicantName />

    <ApplicantContact />

    <ApplicantAddress />

    <div class="row g-3">
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>

</form>

@code {

}
